
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf);
}
html {
  scroll-behavior: smooth;
}

body{
margin: 0;
font-family: "Inter", sans-serif;
}

.wrapper{
margin: 0;
}

*a{
text-decoration: none;
color: inherit;

}
*{ margin: 0%; }

.scrollToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #3abcb6;
  color: white;
  border: none;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 40%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
}

.scrollToTopBtn:hover {
  background-color: #555;
}




@media only screen and (max-width: 1040px) {
    .wrapper {
width: auto;    }
  }